/* App.css */

#root {
	font-family: 'Roboto', sans-serif;
}

/* Landing page */

h1 {
	font-size: 4rem;
	text-align: center;
	border-bottom: 2px solid #000;
}

.assessment-mode-btn,
button {
	font-size: 2rem;
	text-align: center;
	font-size: 2rem;
	padding: 10px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
}

.mode-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mode-container > button:hover {
	cursor: pointer;
}

.mode-container > button {
	font-size: 2rem;
	font-style: none;
}

/* Home button */
.home-button {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1rem;
	padding: 10px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
}
